<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <display-name>Archetype Created Web Application</display-name>

    <servlet>
        <servlet-name>FirstServlet</servlet-name>
        <servlet-class>ru.geekbrains.servlets.FirstServlet</servlet-class>
    </servlet>

    <!--
     <url-pattern></url-pattern> - маппинг на контекст приложения http://localhost:8080/simple-webapp
     <url-pattern>/</url-pattern> - прекрывает сервлет по умолчанию (не желательно)
     <url-pattern>/something/*</url-pattern> - все ссылки, которые начинаются с http://localhost:8080/simple-webapp/something
     <url-pattern>/something/*.html</url-pattern> все ссылки с расширением html

     !!! ВНИМАНИЕ !!!
      <url-pattern></something*<url-pattern> - это не маска для URL!!! Сервлет будет привязан к ссылке http://localhost:8080/simple-webapp/firstservlet*
    -->
    <servlet-mapping>
        <servlet-name>FirstServlet</servlet-name>
        <url-pattern>/firstservlet/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>faces-servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>faces-servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>

    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>RealmUsersRoles</realm-name>
        <form-login-config>
            <form-login-page>/login.xhtml</form-login-page>
            <form-error-page>/error.xhtml</form-error-page>
        </form-login-config>
    </login-config>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Admin resource</web-resource-name>
            <url-pattern>/admin/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>ADMIN</role-name>
        </auth-constraint>
    </security-constraint>

</web-app>
